.active{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

h1{
    text-align: center;
    margin-top: 25px;
}

.pointer{
    cursor: pointer;
}

.centered{
    text-align: center;
    margin-top: 25px;
}